<h1>Pages#info</h1>
<h2>Hi! I am Michael</h2>

<p>I am testing Ruby on Rails and it seems quite easy!!!!!.<br />
Thei is my comapny <strong><a href="http://www.shin-corporate.com">Shin Corporate Limited</a></strong>&nbsp;</p>

<blockquote>Yes, I am really a bad guy@@@@@!!!!</blockquote>

<p>&nbsp;</p>
